---
import MySiteLayout from "../layouts/MySiteLayout.astro";

---

<MySiteLayout>
  <div class=" w-full pb-10 items-center flex flex-col lg:flex-row container-full" >
    <div class="w-3/4 border rounded-2xl p-10 m-3 h-full  justify-center flex flex-col" style="padding-top:-30px;background: linear-gradient(139.69deg, #FFFFFF 2.24%, #B5C5FF 53.85%, #FFEF64 97.22%);border: 1px solid #000000;">
      <h1 class="text-3xl lg:text-8xl   mt-auto font-extrabold " style="line-height: 130%;letter-spacing: -2px;">Hey ! I'm <br/>Shivam Narkar</h1>
      <p class="text-xl lg:text-4xl text-black-500 mt-6">A Web Development Freshman</p>
      <a href="mailto:shivamnarkar16@gmail.com">
      <button class="border w-48  lg:w-64 bg-black text-white rounded-xl p-4 px-5 my-5 font-semibold text-l lg:text-2xl">
        Contact me <i class="fa-solid fa-arrow-right px-4"></i></button>
        </a>
      <div class="mt-auto">
       <a href="https://instagram.com/coderdot" target="_blank"> <i class="fa-brands fa-instagram fa-xl lg:fa-2xl"></i></a>
       <a href="https://www.linkedin.com/in/shivam-narkar-859458278/" target="_blank"><i class="fa-brands fa-linkedin-in fa-xl lg:fa-2xl  px-3"></i></a>

      </div>
    </div>
    <div class=" w-11/12 lg:w-1/3   px-10 mx-5 flex items-center image justify-center rounded-2xl border" ></div>
  </div>
</MySiteLayout>


<style>
  .image{
    height: 100%;
    background-image:url('/assets/img.jpg');background-size:cover;background-position: 0 0;border: 1px solid #000000;
  }
.container-full{
    height:calc(100vh - 11vh);
    transition: all 500ms;
}
@media screen and (max-width: 1024px) {
  .container-full{
    height: 100%;
  }
  .image{
    height: 889px;
    background-position: center;
    transform: scale(0.8);
  }
}
</style>