---
import MySiteLayout from "../layouts/MySiteLayout.astro";
---

<MySiteLayout>
  <div
    class="w-full pb-10 items-center flex flex-col lg:flex-row container-full dark:bg-slate-950"
  >
    <div
      class="w-5/6 md:w-3/4 border rounded-2xl p-5 py-10 md:p-10 m-1 md:m-3 h-full justify-center flex flex-col card dark:dark-card dark:text-white"
    >
      <h1
        class="text-3xl lg:text-8xl mt-auto font-extrabold dark:text-white"
        style="line-height: 130%;letter-spacing: -3px;"
      >
        Hey ! I'm <br />Shivam Narkar.
      </h1>
      <p class="text-xl lg:text-4xl text-black-500 mt-6">
        A Web Development Freshman
      </p>
      <a href="mailto:shivamnarkar16@gmail.com" class="w-48 ease-in duration-100">
        <button
          class=" hover:bg-white hover:text-black duration-200 w-42 sm:w-48 lg:w-64 bg-black text-white rounded-xl p-4 px-5 my-5 font-semibold text-sm md:text-l lg:text-2xl"
        >
          Shortlist me <i class="fa-solid fa-arrow-right px-4"></i></button
        >
      </a>
      <div class="mt-auto">
        <a href="https://instagram.com/coderdot" target="_blank">
          <i class="fa-brands fa-instagram fa-xl lg:fa-2xl"></i></a
        >
        <a
          href="https://www.linkedin.com/in/shivam-narkar-859458278/"
          target="_blank"
          ><i class="fa-brands fa-linkedin-in fa-xl lg:fa-2xl px-3"></i></a
        >
      </div>
    </div>
    <div
      class="w-11/12 lg:w-1/3 px-10 mx-5 flex items-center image justify-center rounded-2xl border dark:border-white"
    >
    </div>
  </div>
</MySiteLayout>

<style>
  .image {
    height: 100%;
    background-image: url("/assets/img.webp");
    background-size: cover;
    background-position: 0 0;
  }
  .container-full {
    height: calc(100vh - 16vh);
    transition: all 500ms;
  }
  @media screen and (max-width: 1024px) {
    .container-full {
      height: 100%;
    }
    .image {
      height: 889px;
      background-position: center;
      transform: scale(0.8);
    }
  }
</style>
