---
import MySiteLayout from "../layouts/MySiteLayout.astro";
---
<MySiteLayout title="Hello">
    <h1 class=" text-center p-10 text-xl dark:text-white dark:border-white md:text-4xl font-extrabold md:font-bold border border-black w-1/2 items-center mx-auto my-52">Coming Soon !</h1>
</MySiteLayout>