---
import Card from "../components/Card.astro";
import MySiteLayout from "../layouts/MySiteLayout.astro";
---

<MySiteLayout title="Project | Shivam Narkar">
  <h1
    class="heading md:text-5xl text-3xl dark:text-white font-bold heading md:p-4 p-2"
  >
    My Projects
  </h1>
  <hr class="dark:text-white w-1/2 m-5" />
  <div class=" grid  2xl:grid-cols-4 md:grid-cols-2  grid-cols-1">
    <Card
      title="Anime Quotes App"
      href="https://anime-quotes-new.vercel.app/"
      body="Anime Quotes app created using React JS , Jikan API and KatAnime API âœ¨"
      src="/assets/Anime-quotes.webp"
    />
   
    <Card
      title="Real Estate App"
      href="https://real-estate-new.vercel.app/"
      body="A real-estate web app clone using NextJS, & Chakra UI ðŸ "
      src="/assets/real-estate.webp"
    /><Card
      title="Netflix UI Clone"
      href="https://netflix-clone-edd99.web.app/"
      body="This is a Netflix UI Clone using React JS axios and Material UI âš›ï¸ "
      src="/assets/netflix.webp"
    /><Card
      title="Instagram UI Clone"
      href="https://insta-clone-47.netlify.app/"
      body="This is a Instagram UI Clone created using React JS. âœ… "
      src="/assets/instagram.webp"
    />
    <Card
      title="Navigation Bar UI"
      href="https://navigation-bar-new.netlify.app/"
      body="This is a Navigation Bar UI created using HTML CSS & JavaScript ðŸ”¥"
      src="/assets/navigation.webp"
    />
    <Card
      title="Tesla UI Clone"
      href="https://tesla-clone-new.netlify.app/"
      body="This is a Tesla Clone UI created using React JS and Material UI. âš¡"
      src="/assets/tesla.webp"
    />
  </div>
</MySiteLayout>
