---
export interface Props {
  title: string;
  body: string;
  href: string;
  src: string;
}

const { href, title, body, src } = Astro.props;
---

<a href={href}target='_blank'>
  <div
    class="md:w-80 w-full bg-white dark:bg-black shadow rounded border border-transparent hover:border-blue-500 cursor-pointer md:m-4 mx-auto my-4"
  >
    <div
      class="h-72 w-full bg-gray-200 lex flex-col justify-between p-4 rounded"
      style=`background:url(${src});background-size:cover;background-position:center;`
    >
    </div>

    <div class="p-4">
      <div class="flex items-center justify-between">
        <h1 class="text-gray-600 dark:text-white font-medium">{title}</h1>
        <i class="fa-solid fa-arrow-right text-white"></i>
      </div>
      <p class="text-gray-400 text-sm my-1">{body}</p>
    </div>
  </div>
</a>
